body {
  margin: 0;
  font-family: "Wittgenstein", Arial, Helvetica, sans-serif;
}

#restaurantEntrance {
  height: 100vh;
  width: auto;
}

#restaurantOutside {
  width: 50vw;
  height: auto;
}

#content.homepage,
#content.aboutpage {
  display: flex;
}

header {
  margin: 0;
  padding: 0;
}

div.homepage-text,
div.aboutpage-text {
  margin: 30px 20px 0 20px;
}

nav.homepage,
nav.aboutpage {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  background-color: #355e3b;
}

button.homepage,
button.aboutpage {
  padding: 10px;
  border: 2px solid black;
  font-weight: bold;
  background-color: #ecffdc;
}

header.homepage,
header.aboutpage {
  height: 100px;
}

div.aboutpage-img {
  text-align: center;
}
